@model EmployeeAddViewModel

<section>
    <form asp-controller="Employee" asp-action="Add" >
        <section>
            <label asp-for="Employee.Firstname"></label>
            <input asp-for="Employee.Firstname"/>
            <span style="color:red;" asp-validation-for="Employee.Firstname"></span>
        </section>
        <section>
            <label asp-for="Employee.Lastname"></label>
            <input asp-for="Employee.Lastname" />
            <span style="color:red;" asp-validation-for="Employee.Lastname"></span>
        </section>
        <section>
            <label asp-for="Employee.Point"></label>
            <input asp-for="Employee.Point" />
            <span style="color:red;" asp-validation-for="Employee.Point"></span>
        </section>
        <section>
            <button type="submit">Submit</button>
        </section>
    </form>
</section>